/*----------------------------Everything--------------------------------------------------------------------------------*/
html {
    font-family: 'EB Garamond', serif;
    color: black;
}

body {
    background-color: #4B9CD3;
    cursor:default;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10 */
    /* Currently not supported in Opera but will be soon */
    -o-user-select: none;
    user-select: none;
}

.btn {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: 3vh 0 0 0;
    font-weight: 500;
    border-radius: 15px;
    border: none;
}

.btn:link {
    background-color: #13294B;
    color: white;
}

.btn:visited {
    background-color: #13294B;
    color: white;
    border: none;
}

.btn:hover {
    background-color: #13294B;
    color: white;
}

.btn:active {
    background-color: #13294B;
    color: white;
}


/*----------------------------Header--------------------------------------------------------------------------------*/
.header_content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.site-title {
    font-size: 1.9rem;
    padding-top: 1vh;
    color: white;
}

    .site-title span {
        font-size: 1.7rem;
    }


/*----------------------------Main--------------------------------------------------------------------------------*/
.main_content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2vh 0 2vh 0;
    background-color: white;
}

.section_title {
    font-size: 18pt;
    color: #4B9CD3;
}

    .resources {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 5vh 0 5vh 0;
    }

        .resource_addition {
            color: #151515;
        }

    


#unc:link {
background-color: #4B9CD3;
color: white;
}

    #unc:visited {
    background-color: #4B9CD3;
    color: white;
    border: none;
    }

    #unc:hover {
    background-color: #4B9CD3;
    color: white;
    }

    #unc:active {
    background-color: #4B9CD3;
    color: white;
    }





#ecu:link {
background-color: #592A8A;
color: #FEC923;
}

    #ecu:visited {
    background-color: #592A8A;
    color: #FEC923;
    border: none;
    }

    #ecu:hover {
    background-color: #592A8A;
    color: #FEC923;
    }

    #ecu:active {
    background-color: #592A8A;
    color: #FEC923;
    }





#vcom:link {
background-color: #C45400;
color: white;
}

    #vcom:visited {
    background-color: #C45400;
    color: white;
    border: none;
    }

    #vcom:hover {
    background-color: #C45400;
    color: white;
    }

    #vcom:active {
    background-color: #C45400;
    color: white;
    }



#lu:link {
    background-color: #0A254E;
    color: white;
    }
    
    #lu:visited {
    background-color: #0A254E;
    color: white;
    border: none;
    }
    
    #lu:hover {
    background-color: #0A254E;
    color: white;
    }
    
    #lu:active {
    background-color: #0A254E;
    color: white;
    }


    

#etsu:link {
    background-color: #FFC72C;
    color: #041E42;
    }
    
    #etsu:visited {
    background-color: #FFC72C;
    color: #041E42;
    border: none;
    }
    
    #etsu:hover {
    background-color: #FFC72C;
    color: #041E42;
    }
    
    #etsu:active {
    background-color: #FFC72C;
    color: #041E42;
    }

    

#usc:link {
    background-color: #73000A;
    color: white;
    }
    
    #usc:visited {
    background-color: #73000A;
    color: white;
    border: none;
    }
    
    #usc:hover {
    background-color: #73000A;
    color: white;
    }
    
    #usc:active {
    background-color: #73000A;
    color: white;
    }

    

#wake:link {
    background-color: #8C6D20;
    color: white;
    }
    
    #wake:visited {
    background-color: #8C6D20;
    color: white;
    border: none;
    }
    
    #wake:hover {
    background-color: #8C6D20;
    color: white;
    }
    
    #wake:active {
    background-color: #8C6D20;
    color: white;
    }

    

#camp:link {
    background-color: #EA7215;
    color: white;
    }
    
    #camp:visited {
    background-color: #EA7215;
    color: white;
    border: none;
    }
    
    #camp:hover {
    background-color: #EA7215;
    color: white;
    }
    
    #camp:active {
    background-color: #EA7215;
    color: white;
    }

    

#duke:link {
    background-color: #00539B;
    color: white;
    }
    
    #duke:visited {
    background-color: #00539B;
    color: white;
    border: none;
    }
    
    #duke:hover {
    background-color: #00539B;
    color: white;
    }
    
    #duke:active {
    background-color: #00539B;
    color: white;
    }



#keck:link {
    background-color: #990000;
    color: white;
    }
    
    #keck:visited {
    background-color: #990000;
    color: white;
    border: none;
    }
    
    #keck:hover {
    background-color: #990000;
    color: white;
    }
    
    #keck:active {
    background-color: #990000;
    color: white;
    }




#med_sc:link {
    background-color: #990000;
    color: white;
    }
    
    #med_sc:visited {
    background-color: #990000;
    color: white;
    border: none;
    }
    
    #med_sc:hover {
    background-color: #990000;
    color: white;
    }
    
    #med_sc:active {
    background-color: #990000;
    color: white;
    }



#uv:link {
    background-color: #E57200;
    color: white;
    }
    
    #uv:visited {
    background-color: #E57200;
    color: white;
    border: none;
    }
    
    #uv:hover {
    background-color: #E57200;
    color: white;
    }
    
    #uv:active {
    background-color: #E57200;
    color: white;
    }



#evms:link {
    background-color: #1F7F9B;
    color: white;
    }
    
    #evms:visited {
    background-color: #1F7F9B;
    color: white;
    border: none;
    }
    
    #evms:hover {
    background-color: #1F7F9B;
    color: white;
    }
    
    #evms:active {
    background-color: #1F7F9B;
    color: white;
    }



#vt:link {
    background-color: #C64600;
    color: white;
    }
    
    #vt:visited {
    background-color: #C64600;
    color: white;
    border: none;
    }
    
    #vt:hover {
    background-color: #C64600;
    color: white;
    }
    
    #vt:active {
    background-color: #C64600;
    color: white;
    }

    



#ut:link {
    background-color: #C64600;
    color: white;
    }
    
    #ut:visited {
    background-color: #C64600;
    color: white;
    border: none;
    }
    
    #ut:hover {
    background-color: #C64600;
    color: white;
    }
    
    #ut:active {
    background-color: #C64600;
    color: white;
    }